@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
}

#landing {
    background-image: linear-gradient(#3f621270,theme(colors.s3));
}

#overlay {
    background-image: linear-gradient(#3f621270,#3f621270);
}